## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.

**Step 1. Open the data file and have a look at the general information.

In [4]:
import pandas as pd
loan = pd.read_csv(r'C:\Users\User\Downloads\credit_scoring_eng.csv')
loan[['children','dob_years', 'education_id', 'family_status_id', 'debt',]] = loan[['children','dob_years', 'education_id', 'family_status_id', 'debt',]].astype('int32')
loan[['days_employed', 'total_income']] = loan[['days_employed', 'total_income']].astype('float32')
print(loan)

       children  days_employed  dob_years            education  education_id  \
0             1   -8437.672852         42    bachelor's degree             0
1             1   -4024.803711         36  secondary education             1
2             0   -5623.422852         33  Secondary Education             1
3             3   -4124.747070         32  secondary education             1
4             0  340266.062500         53  secondary education             1
...         ...            ...        ...                  ...           ...
21520         1   -4529.316895         43  secondary education             1
21521         0  343937.406250         67  secondary education             1
21522         1   -2113.346924         38  secondary education             1
21523         3   -3112.481689         38  secondary education             1
21524         2   -1984.507568         40  secondary education             1

           family_status  family_status_id gender income_type  debt  \
0                married                 0      F    employee     0
1                married                 0      F    employee     0
2                married                 0      M    employee     0
3                married                 0      M    employee     0
4      civil partnership                 1      F     retiree     0
...                  ...               ...    ...         ...   ...
21520  civil partnership                 1      F    business     0
21521            married                 0      F     retiree     0
21522  civil partnership                 1      M    employee     1
21523            married                 0      M    employee     1
21524            married                 0      F    employee     0

       total_income                  purpose
0      40620.101562    purchase of the house
1      17932.802734             car purchase
2      23341.751953    purchase of the house
3      42820.566406  supplementary education
4      25378.572266        to have a wedding
...             ...                      ...
21520  35966.699219     housing transactions
21521  24959.968750        purchase of a car
21522  14347.610352                 property
21523  39054.886719        buying my own car
21524  13127.586914             to buy a car

[21525 rows x 12 columns]

### Conclusion

First of all, checked all the dataset to get an averall comprehension. I saw dataset (with info() method) has no problem with data types, so no need for data type changing. Only changing was to lwo the memory usage from int64 and float64 to int32 and float32.

### Step 2. Data preprocessing

**•	Identify and fill in missing values
•	Replace the real number data type with the integer type
•	Delete duplicate data
•	Categorize the data
Be sure to explain:
•	Which missing values you identified
•	Possible reasons these missing values were present
•	Which method you used to fill in missing values
•	Which method you used to find and delete duplicate data and why
•	Possible reasons why duplicate data was present
•	Which method you used to change the data type and why
•	Which dictionaries you've selected for this dataset and why
The data may contain artifacts, or values that don't correspond to reality (for instance, a negative number of days employed). This kind of thing happens when you're working with real data. You need to describe the possible reasons such data may have turned up and process it.

### Processing missing values

In [5]:
for c in loan.columns:
    print(loan[c].value_counts())
    
avg_dob_years = loan['dob_years'].mean()
dob_missing = loan.loc[loan['dob_years'] == 0, 'dob_years'] = avg_dob_years

children_missing = loan.loc[loan['children'] == -1, 'children'] = 1
children_missing = loan.loc[loan['children'] == 20, 'children'] = 2
loan['days_employed'] = abs(loan['days_employed'])
for c in loan.columns:
    print(loan[c].value_counts())

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
-1272.242310      2
-1510.738159      2
-995.549683       2
-1759.180664      2
 375045.281250    2
                 ..
-410.642029       1
 387730.000000    1
-2100.853516      1
 338580.562500    1
-368.001373       1
Name: days_employed, Length: 19345, dtype: int64
35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64
secondary education    13750
bachelor's degree       4718
SECONDARY EDUCATION      772
Secondary Education      711
some college             668
BACHELOR'S DEGREE        274
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
Name: education, dtype: int64
1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64
married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64
0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64
F      14236
M       7288
XNA        1
Name: gender, dtype: int64
employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
entrepreneur                       2
unemployed                         2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64
0    19784
1     1741
Name: debt, dtype: int64
20546.988281    2
18555.802734    2
17312.716797    2
42413.097656    2
77286.476562    2
               ..
13142.038086    1
34136.222656    1
21963.048828    1
25803.902344    1
16720.683594    1
Name: total_income, Length: 19343, dtype: int64
wedding ceremony                            797
having a wedding                            777
to have a wedding                           774
real estate transactions                    676
buy commercial real estate                  664
housing transactions                        653
buying property for renting out             653
transactions with commercial real estate    651
housing                                     647
purchase of the house                       647
purchase of the house for my family         641
construction of own property                635
property                                    634
transactions with my real estate            630
building a real estate                      626
buy real estate                             624
building a property                         620
purchase of my own house                    620
housing renovation                          612
buy residential real estate                 607
buying my own car                           505
going to university                         496
car                                         495
second-hand car purchase                    489
to own a car                                480
buying a second-hand car                    479
cars                                        478
to buy a car                                472
supplementary education                     462
car purchase                                462
purchase of a car                           455
university education                        453
education                                   447
to get a supplementary education            447
getting an education                        443
profile education                           436
getting higher education                    426
to become educated                          412
Name: purpose, dtype: int64
0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64
1272.242310      2
1510.738159      2
995.549683       2
1759.180664      2
375045.281250    2
                ..
410.642029       1
387730.000000    1
2100.853516      1
338580.562500    1
368.001373       1
Name: days_employed, Length: 19345, dtype: int64
35.00000    617
40.00000    609
41.00000    607
34.00000    603
38.00000    598
42.00000    597
33.00000    581
39.00000    573
31.00000    560
36.00000    555
44.00000    547
29.00000    545
30.00000    540
48.00000    538
37.00000    537
50.00000    514
43.00000    513
32.00000    510
49.00000    508
28.00000    503
45.00000    497
27.00000    493
56.00000    487
52.00000    484
47.00000    480
54.00000    479
46.00000    475
58.00000    461
57.00000    460
53.00000    459
51.00000    448
59.00000    444
55.00000    443
26.00000    408
60.00000    377
25.00000    357
61.00000    355
62.00000    352
63.00000    269
64.00000    265
24.00000    264
23.00000    254
65.00000    194
66.00000    183
22.00000    183
67.00000    167
21.00000    111
43.29338    101
68.00000     99
69.00000     85
70.00000     65
71.00000     58
20.00000     51
72.00000     33
19.00000     14
73.00000      8
74.00000      6
75.00000      1
Name: dob_years, dtype: int64
secondary education    13750
bachelor's degree       4718
SECONDARY EDUCATION      772
Secondary Education      711
some college             668
BACHELOR'S DEGREE        274
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
Name: education, dtype: int64
1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64
married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64
0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64
F      14236
M       7288
XNA        1
Name: gender, dtype: int64
employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
entrepreneur                       2
unemployed                         2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64
0    19784
1     1741
Name: debt, dtype: int64
20546.988281    2
18555.802734    2
17312.716797    2
42413.097656    2
77286.476562    2
               ..
13142.038086    1
34136.222656    1
21963.048828    1
25803.902344    1
16720.683594    1
Name: total_income, Length: 19343, dtype: int64
wedding ceremony                            797
having a wedding                            777
to have a wedding                           774
real estate transactions                    676
buy commercial real estate                  664
housing transactions                        653
buying property for renting out             653
transactions with commercial real estate    651
housing                                     647
purchase of the house                       647
purchase of the house for my family         641
construction of own property                635
property                                    634
transactions with my real estate            630
building a real estate                      626
buy real estate                             624
building a property                         620
purchase of my own house                    620
housing renovation                          612
buy residential real estate                 607
buying my own car                           505
going to university                         496
car                                         495
second-hand car purchase                    489
to own a car                                480
buying a second-hand car                    479
cars                                        478
to buy a car                                472
supplementary education                     462
car purchase                                462
purchase of a car                           455
university education                        453
education                                   447
to get a supplementary education            447
getting an education                        443
profile education                           436
getting higher education                    426
to become educated                          412
Name: purpose, dtype: int64

### Conclusion

First, I tried every column for any missing value with value_counts() method. I came out that there are some doubtful values. At children column there are some applicants with 20 children(not a normal number of children these days) and -1 children. At dob_years column there are 101 people with 0 age. At the purpose and education columns, many values have the same meanings but in different values. I changed -1 children with 1 and 20 with 2, as it is more normal that user has made a mistake in putting information. These are a MCAR, because children value do not depend on other values; we just add the value that is more normal relying on most logical situation. i have used boolean indexing to be more insured because sometimes fillna() does not work. In the dob_years I changed 0 years old with the mean of all column. I also checked if there was any age under 18 years old. All the values that were negative at days_employed I changed with positive values using abs(). After I made the changes, I checked again the results, with value_counts().

### Conclusion

At education column we have a problem with duplicates, we have many same values but some are fully capitalized, some are lowercased etc; so we have duplicated values. Also in purpose column, there are many values with same meaning that can be grouped in one value of the column. For each column we use some methods to resolve these issues.

### Processing duplicates

In [3]:
loan['education'] = loan['education'].str.lower()
print(loan['education'].value_counts())

secondary education    15233
bachelor's degree       5260
some college             744
primary education        282
graduate degree            6
Name: education, dtype: int64

### Conclusion

Processed all duplicates. They were at education columns and had the problem of case sensityvity.

### Categorizing Data

In [4]:
from nltk.stem import SnowballStemmer
import pandas as pd
english_stemmer = SnowballStemmer('english')
loan = pd.read_csv('/datasets/credit_scoring_eng.csv')
purpose_grouped = loan.groupby('purpose').count()
purpose = loan['purpose']


def short_purpose(value):
    for word in value.split(' '):
        stemmed_list = [english_stemmer.stem(word) for word in value.split(' ')]
        if 'wed' in stemmed_list:
            return 'wedding'
        elif 'properti' in stemmed_list:
            return 'property'
        elif 'hous'in stemmed_list:
            return 'house'
        elif 'univers' in  stemmed_list:
            return 'education'
        elif 'educ' in  stemmed_list:
            return 'education'
        elif 'car' in  stemmed_list:
            return 'car'
        else:
            return 'real estate'


loan['purpose']=loan['purpose'].apply(short_purpose)
print(loan['purpose'].value_counts())

real estate    4478
car            4315
education      4022
house          3820
property       2542
wedding        2348
Name: purpose, dtype: int64

In [5]:
def income_value(income):
    if income < 10000:
        return 'low'
    if income >= 10000 and income < 45000:
        return 'low-average'
    if income >= 45000 and income < 60000:
        return 'high-average'
    else:
        return 'high'
loan['income_value'] = loan['total_income'].apply(income_value)
print(loan['income_value'].value_counts())

low-average     16566
high             2846
high-average     1187
low               926
Name: income_value, dtype: int64

### Conclusion

I categorized purposes and incomes in the above code. Many purposes had the same purpose meaning and I grouped them together and I did an income categorizing for the next task.

### Step 3. Answer these questions

•	Is there a connection between having kids and repaying a loan on time?
•	Is there a connection between marital status and repaying a loan on time?
•	Is there a connection between income level and repaying a loan on time?
•	How do different loan purposes affect on-time loan repayment?
Interpret your answers. Explain what the results you obtained mean.

- Is there a relation between having kids and repaying a loan on time?

In [6]:
import pandas as pd
loan = pd.read_csv('/datasets/credit_scoring_eng.csv')
children_missing = loan.loc[loan['children'] == -1, 'children'] = 1
children_missing = loan.loc[loan['children'] == 20, 'children'] = 2

def debt_type(value):
    if value == 1:
        return'Defaulted'
    else:
        return'not_Defaulted'
loan['debt_type'] = loan['debt'].apply(debt_type)
children_pivot = loan.pivot_table(index='children', values='debt', columns='debt_type', aggfunc='count')
children_pivot['Defaulted'] = children_pivot['Defaulted'].fillna(0)

children_pivot['Defaulted_percentage'] = children_pivot['Defaulted'] / (children_pivot['Defaulted'] + children_pivot['not_Defaulted']) * 100
children_pivot['Defaulted_percentage'] = children_pivot['Defaulted_percentage'].sort_values(ascending=True)


print(children_pivot)

debt_type  Defaulted  not_Defaulted  Defaulted_percentage
children
0             1063.0        13086.0              7.512898
1              445.0         4420.0              9.146968
2              202.0         1929.0              9.479118
3               27.0          303.0              8.181818
4                4.0           37.0              9.756098
5                0.0            9.0              0.000000

We can say there is a matching between number of children and repaying loan. From the results, I see that bad mortgage happens more often when a client has children and happens rarely when client has no children. This may happen because poeple who are parents have more responsibilities and can face more financial difficulties.

- Is there a relation between marital status and repaying a loan on time?

In [7]:
def debt_type(value):
    if value == 1:
        return'Defaulted'
    else:
        return'not_Defaulted'
loan['debt_type'] = loan['debt'].apply(debt_type)
family_pivot = loan.pivot_table(index='family_status', values='debt', columns='debt_type', aggfunc='count')
family_pivot['defaulted_percentage'] = family_pivot['Defaulted'] / (family_pivot['Defaulted'] + family_pivot['not_Defaulted']) * 100
print(family_pivot)

debt_type          Defaulted  not_Defaulted  defaulted_percentage
family_status
civil partnership        388           3789              9.288963
divorced                  85           1110              7.112971
married                  931          11449              7.520194
unmarried                274           2539              9.740491
widow / widower           63            897              6.562500

### Conclusion

From the results I see that, people that are in a civil partnership or unmarried, have a higher percentage of not paying debts. I believe this happens because of age. Usually single people are in a young age and have nonstable financial situation, on the other side married people also have support form their families.

- Is there a relation between income level and repaying a loan on time?

In [8]:
def debt_type(value):
    if value == 1:
        return'Defaulted'
    else:
        return'not_Defaulted'
loan['debt_type'] = loan['debt'].apply(debt_type)

def income_value(income):
    if income < 10000:
        return 'low'
    if income >= 10000 and income < 45000:
        return 'low-average'
    if income >= 45000 and income < 60000:
        return 'high-average'
    else:
        return 'high'
    

loan['income_value'] = loan['total_income'].apply(income_value)

income_pivot = loan.pivot_table(index='income_value', values='debt', columns='debt_type', aggfunc='count')
income_pivot['defaulted_percentage'] = income_pivot['Defaulted'] / (income_pivot['Defaulted'] + income_pivot['not_Defaulted']) * 100

print(income_pivot)

debt_type     Defaulted  not_Defaulted  defaulted_percentage
income_value
high                208           2638              7.308503
high-average         94           1093              7.919124
low                  58            868              6.263499
low-average        1381          15185              8.336352

### Conclusion

From the graph we can say that people with low-average income can be more potential on not paying credits.

- How do different loan purposes affect on-time repayment of the loan?

In [9]:
import pandas as pd
from nltk.stem import SnowballStemmer 
english_stemmer = SnowballStemmer('english')
loan = pd.read_csv('/datasets/credit_scoring_eng.csv')

loan['short_purpose'] = loan['purpose'].apply(short_purpose)

loan['debt_type'] = loan['debt'].apply(debt_type)
    
purpose_pivot = loan.pivot_table(index='short_purpose', values='debt', columns='debt_type', aggfunc='count')
purpose_pivot['defaulted_percentage'] = purpose_pivot['Defaulted'] / (purpose_pivot['Defaulted'] + purpose_pivot['not_Defaulted']) * 100

display(purpose_pivot)

debt_type      Defaulted  not_Defaulted  defaulted_percentage
short_purpose
car                  403           3912              9.339513
education            370           3652              9.199403
house                256           3564              6.701571
property             190           2352              7.474430
real estate          336           4142              7.503350
wedding              186           2162              7.921635

### Conclusion

From the graph above, we conclude in the fact that the most risky loan purpose for not repaying is buying a car and the less risky is buying a house. I think this may happen because buying a house is a long term repaying loan and buying a car is usually short term and with high rate of monthly repaying.

### Step 4. General conclusion

In this project, we noticed that number of children of a borrower and family status, impact in repaying the loan. On the other side, also income influence in repyaing credit. The reason why people with low-average income have a higher level of not paying laon is because, people with this level of income, often tend to borrow more money than they can repay(they borrow to make an invest or for a luxurious good). We can see, high level of defaulty also for high-average. In my opinion, people in these levels of income tend to borrow more money they could pay, so they can make an investment to increase their income (and go to the other level of income) or buy luxurious gooods.

### Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [x]  file examined;
- [x]  missing values defined;
- [x]  missing values are filled;
- [x]  an explanation of which missing value types were detected;
- [x]  explanation for the possible causes of missing values;
- [x]  an explanation of how the blanks are filled;
- [x]  replaced the real data type with an integer;
- [x]  an explanation of which method is used to change the data type and why;
- [x]  duplicates deleted;
- [x]  an explanation of which method is used to find and remove duplicates;
- [x]  description of the possible reasons for the appearance of duplicates in the data;
- [x]  data is categorized;
- [x]  an explanation of the principle of data categorization;
- [x]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [x]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [x]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [x]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [x]  conclusions are present on each stage;
- [x]  a general conclusion is made.